p{
  margin-top: 0;
  margin-bottom: 0;

}
body {
    height: 3000px;
    margin: 0;
    font-family: roboto,arial;
    padding-top: 86px;
    padding-left: 110px;
    padding-right: 20px;
    font-size: 16px;

}
.video-body{
    z-index: 1;
}
a:link{
  text-decoration: none;
  color: black;
}
a{
  color: black;
}
a:link:visited{
  color: black;
}
