.side-bar {
    position: fixed;
    top: 55px;
    left: 0;
    bottom: 0;
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: column;
    width: 80px;
    padding-top: 5px;
    z-index: 200;
    background-color: white;
}

.home-icon,
.explore-icon,
.subscriptions-icon,
.youtube-music-icon {
    height: 24px;
}

.home-button,
.explore-button,
.subscriptions-button,
.youtube-music-button {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 74px;
    padding-top: 20px;
    padding-bottom: 20px;
    border: none;
    border-radius: 8px;

}
.home-button,
.explore-button,
.subscriptions-button,
.youtube-music-button :hover{
    cursor: pointer;
}

.home-button:hover,
.explore-button:hover,
.subscriptions-button:hover,
.youtube-music-button:hover {
    background-color: rgba(229, 232, 233, 0.933);
}

.home-button div,
.explore-button div,
.subscriptions-button div,
.youtube-music-button div {
    font-size: 11px;
    margin-top: 6px;
}