.video-body{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    column-gap: 18px;
    row-gap: 50px;
}
.thumbnail-decoration{
    width: 100%;   
    border-radius: 15px;
    transition: border-radius 0.25s cubic-bezier(0.075, 0.82, 0.165, 1);
    position: relative;
}
.thumbnail-decoration:hover{
    border-radius: 0;
}

.thumbnail,.description:hover{
    cursor: pointer;
}
.thumbnail{
    position: relative;
        
}
.duration{
    position: absolute;
    bottom: 14px;
    right: 8px;
    color: white;
    background-color: black;
    padding: 4px 6px;
    border: none;
    border-radius: 2px;
}
.channel-logo-decoration{
    width: 36px;
    border-radius: 72px;
    margin-right: 12px;
}
.description{
    display: flex;
    margin-top: 8px;
}
.title{
    font-weight: 500;
    margin-bottom: 12px;
}

.channel-name{
    color: rgb(96, 96, 96);
    font-size: 14px;
    margin-bottom: 5px;
    display: flex;
}
.stats{
    color: rgb(96, 96, 96);
    font-size: 14px;
}
